{
    "parser": "babel-eslint",
    "extends": ["standard", "standard-react"],
    "rules": {
       "semi": 0,
       "comma-dangle": ["error", "always-multiline"],
       "prefer-destructuring": ["error", {"object": true, "array": false}]
    }
}